# 절댓값 구하기 알고리즘

In [7]:
import math # 수학 모듈 사용

def abs_sign(a):

    if a >= 0:
        return a

    else:
        return -a


# 절댓값 알고리즘 2(제곱-제곱근)
# 입력 : 실수 a
# 출력 : a의 절대값


def abs_square(a):
    b = a * a

    return int(math.sqrt(b))


abs_sign(-3)

abs_square(3)

3

# 1 부터 n 까지의 합을 구하는 알고리즘을 만들어보자

In [14]:
def total(a):
    return sum(range(1,a+1))


total(1000)

500500

In [13]:
def sum_n(n):
    return n * (n + 1) // 2

sum_n(1000)

500500