In [9]:
def solution(data):
    result = []
    for i in data:
        if i % 2 != 0:
            result.append(i)
    return sum(result)

In [10]:
solution([1, 2, 3, 4, 5])

9

In [21]:
def 곱셈(l):
    result = 1
    for i in l:
        result *= i

    return result

In [22]:
곱셈([1, 2, 3, 4, 5])

120

In [33]:
def solution(data):

    return sum(filter(lambda x : not(x % 3 == 0 or x % 5==0),data))

solution([1, 2, 3, 4, 5])

7

In [34]:
def solution(data):
    return sum(filter(lambda x : not(x % 2 ==0)),data)

In [48]:
def solution(data):
    num_list = []
    for i in data:
        s =int(i.split(" ")[1].replace("개"," "))
        num_list.append(s)

    return num_list[0] * 1 + num_list[1] * 2 + num_list[2] * 3

In [49]:
solution(['쿠키 3개', '쿠키 2개', '쿠키 5개'])

22

In [74]:
def solution(data):
    result = 0

    for idx, i in enumerate(data):
        number = int(i.split(" ")[1].replace("개", " "))

        result += number * (idx+1)

    return result

In [75]:
solution(['쿠키 3개', '쿠키 2개', '쿠키 5개'])

22

In [83]:
def solution(data):
    count =0
    for i in str(data):
        if i == "1":
            count += 1

    return count

In [84]:
solution([1, 11, 111, 1111])

10

In [89]:
def solution(data):

    return ''.join(map(str, data)).count('1')

In [88]:
solution([1, 11, 111, 1111])

'1111111111'

In [131]:

def solution(data):
    result = []
    for i in data:
        if i.isdigit():
            result.append(int(i))

    return sum(result)

In [143]:
def solution(data):

    return sum(map(int,(filter(str.isdigit, data))))

In [144]:
solution('1hel2lo3')

6